header {
    background: darkblue;
    padding: 1em 3em;
    color: white;
    text-align: center;
}

#tabs {
    background: white;
    padding: 1em 1em 0 1em;
    height: max-content;
    text-align: center;
    font-size: x-large;
}

#tabs span.active {
    color: blue;
    border-bottom: 3px solid blue;
}

#tabs span {
    display: inline-block;
    position: relative;;
    color: gray;
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
}

@media (max-width: 500px) {
    /* header {
        display: none;
    } */
}