#sign-in-page {
    width: 50vw;
    height: 50vh;
    margin-left: 50px;
    padding: 1em;
    box-shadow: 5px 5px 5px grey;
    border: 1px solid;
    background: white;
    margin-top: 10vh;
    font-size: large;
}

@media(max-width: 500px) {
    #sign-in-page {
        width: 90%;
        height: 50vh;
        border: none;
        margin-left: 0;
        box-shadow: none;
    }

    .sign-in-button {
        width: 100%
    }
}


.sign-in-input {
    border: none;
    border-bottom: 2px solid black;
    font-size: large;
}

.sign-in-input:focus {
    outline: none;
    border-bottom: 2px solid blue;
}

.sign-in-button {
    font-size: large;
    background: blue;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;

}
@media (min-width: 500px) {
    .sign-in-button {
        width: 50%
    }
}