<!DOCTYPE html>
<div *ngIf = 'survey' class = 'sideways-page'>
    <h1> 
        Stats for "{{ survey.name }}" by {{ survey.author }}
        <button routerLink = '/new-survey' class = 'add' style = 'font-size: large;'>
            Create Another Survey + 
        </button>
    </h1>
    <h2>
        Survey Link: 
        <a [routerLink] = '["/", "surveys", surveyKey]'>
            http://210apps.com/surveys/{{ surveyKey }}
        </a>
    </h2>
    <h2> {{ (responses || 0)  + (responses === 1 ? ' Response' : ' Responses') }}   </h2>
    <hr />
    <ol *ngIf = 'responses'>
        <li *ngFor = 'let question of survey.questions; index as questionNumber'>
            {{ question.question }}
            <br />
            <br />
            <ng-container *ngIf = 'question.type != "open-ended"; else responses'> 
                <div *ngFor = 'let choice of question.choices; index as choiceNumber'>
                    <div style = 'width:230px; display: inline-block;'>
                        {{ choice.option }} 
                        - Selected 
                        {{ 
                            getStats(questionNumber, choiceNumber).number     
                        }} 
                        
                        {{
                            getStats(questionNumber, choiceNumber).number === 1 ?
                            ' time' :
                            ' times'
                        }}
                        ({{ getStats(questionNumber, choiceNumber).percentage }}%)
                    </div>
                    <div class = 'choice-stats' 
                        [ngStyle] = '{
                            width: getStats(questionNumber, choiceNumber).percentage * 3 + "px", 
                            background: colors[ choiceNumber % colors.length]
                        }'>

                    </div>
                    <hr />
                </div>
                    <div *ngIf = 'nonePicked(questionNumber)'>
                        {{ nonePicked(questionNumber) }} {{ nonePicked(questionNumber) == 1? 'person has' : 'people have'}} not picked any choice.
                    </div>
            </ng-container> 
            <ng-template #responses>
                Responses:
                <br />
                <ng-container *ngFor = 'let result of results[ questionNumber ]'>
                   <div  *ngIf = 'result.answer'  class = 'response'>
                        {{ result.answer }}
                   </div> 
                </ng-container>
            </ng-template>
            
            <br />
        </li>
    </ol>
    <p *ngIf = '!responses'>
        No one has responded to this survey, invite people with the link.
    </p>
</div>

<style>
    .response {
        background: white;
        padding: 5px;
        border: 1px solid;
        border-radius: 5px;
        width: 200px;
        margin: 10px;
    }

    .choice-stats {
        height: 10px;
        overflow-x: auto;
        white-space: nowrap;
        border: 1px solid black;
        display: inline-block;
        
    }
</style>